[data-editable] {
    color: #428bca;
    border-bottom: 1px dashed #428bca;
    text-decoration: none;
    cursor: pointer;
}

[data-editable]:empty::before {
    content: 'Not set';
    color: #dd1144;
    font-style: italic;
}